@use '../../global/_colors' as color

.section
	min-height: 600px
	position: relative
	background: grey
	font-size: 40px
	background: linear-gradient(94.96deg, #000000 0%, rgba(0, 0, 0, 0) 103.39%),  url('./assets/bg.jpg') center center/cover no-repeat
	object-fit: cover
	.container
		display: flex
		align-items: center

	&__left
		display: flex
		flex-direction: column
		justify-content: center
		height: 100%
		min-height: 600px
		padding-left: 50px
		width: 50%
		padding-left: 180px
		
	&__right
		width: 50%
 

.slider
	display: flex
	width: 600px
	&__wrapper
		display: flex
		column-gap: 24px
	&__wrapper-image
		overflow: hidden 
		width: 196px
		height: 196px
		img
			border-radius: 48px
			width: 196px
			height: 196px
	&__description
		display: flex
		flex-direction: column
		row-gap: 24px
		width: calc(600px - 196px)
		height: 200px
		overflow-y: hidden
		&-text
			display: flex
			flex-direction: column
			row-gap: 24px

