@use '../../global/_colors' as color


.section
	display: flex
	align-items: center
	position: relative 
	min-height: 600px
	width: 100vw
	font-size: 40px
	background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 103.39%),  url('./assets/bg.jpg') center center/cover no-repeat
	object-fit: cover
	z-index: -1
	&__left
		display: flex
		flex-direction: column
		justify-content: center
		width: 50%
		a
			display: inline-block
			align-items: center
			flex-direction: row
			column-gap: 10px
			width: max-content
			height: max-content
			text-transform: none
			margin-top: 36px
			&::before
				content: ''
				display: inline-block
				width: 16px
				height: 16px
				background: url('./assets/bi_arrow-right.svg')
				margin-right: 10px
		
	&__right
		width: 50%
		height: min-content
 

@media (max-width: 425px)
	.container
		flex-direction: column
		row-gap: 36px
	.section
		padding: 60px 0px 80px
		&__left
			width: 100%
			a
				display: none
		&__right
			width: 100%