@use '../../global/_colors' as colors
.slider
	display: flex
	flex-direction: column
	width: 600px
	&__wrapper
		display: flex
		column-gap: 24px
		overflow: hidden
	&__wrapper-image 
		width: 196px
		height: 196px
		transition: 0.3s transform ease
		img
			border-radius: 48px
			width: 196px
			height: 196px
	&__description
		display: flex
		flex-direction: column
		row-gap: 24px
		width: calc(600px - 196px - 24px)
		height: 200px 
		transition: 0.5s transform ease
		&-text
			display: flex
			flex-direction: column
			row-gap: 24px
	&__control
		display: flex
		&-arrow
			display: flex
			justify-content: center
			align-items: center
			width: 196px
		&-nav
			display: flex
			width: calc(600px - 196px - 24px)
			align-items: center
			justify-content: center
			font-size: 12px
			column-gap: 4px
		&-left
			display: flex
			cursor: pointer
		&-right
			display: flex
			cursor: pointer
			height: min-content

.nav__dot
	display: block
	width: 12px
	height: 12px
	border-radius: 50%
	border: 1px solid transparentize(colors.$color-white, 0.5)
	background: transparentize(colors.$color-white, 0.8)
	font-size: 12px
	cursor: pointer
	transition: 0.3s all
	&:hover
		background: transparentize(colors.$color-white, 0)
